*{
  margin: 0;
  padding: 0;
}
  
.list-inline{
  font-family: lobster;
  color: red;
  font-size: 40pt;
  white-space: :30px;
}
.pageone{
  background:url("http://res.cloudinary.com/dleazv4g1/image/upload/v1499397009/seth-willingham-64594_hwul73.jpg");
  background-size:cover;
  height:600px;
}
.nav-pills{
  font-size:50px;
  font-family:lobster;
  margin-bottom:%;
  text-align: right;
  color:black;
}
.pagetwo{
  background:url("background.html");
  background-size:cover;
  height:600px;
  margin
  
}
p{
  margin: 0 auto;*/
  padding: 10px;
  font-family: monospace;
  font-size: 15pt;
  text-align: center;
  color: black;

}
.pagethree{
  background:url("http://res.cloudinary.com/dleazv4g1/image/upload/v1499451909/alex-jodoin-246078_p3ttgl.jpg");
  background-size:cover;
  height:600px;
   
  
  
}
.img-circle{
  margin-top:  80px;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid #ddd;
  padding: 0px;
  width: 400px;
}
.h1{
  margin: 0 auto;
  padding: 0 auto;
}
@media all and (max-width: 480px){
  body{

  }
  p{
    
  }

}
@media all and (max-width: 480px) and (max-width: 767px){
  body{

  }
  p{
    
  }

}
@media all and (max-width: 480px) and (max-width: 992px){
  body{

  }
  p{
    
  }

}

